<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_Final.My.MySettings.tienda_ropaConnectionString"
            connectionString="Data Source=IZO_024\SQLEXPRESS;Initial Catalog=tienda_ropa;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Project_Final.My.MySettings.tienda_ropaConnectionString1"
            connectionString="Data Source=IZO_024;Initial Catalog=tienda_ropa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>